In [3]:
import pandas as pd

#### Creating a dataframe from a list

In [3]:
data = [1,2,3,4,5]  
df = pd.DataFrame(data) 
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
data = [['Alex',10],['Bob',12],['Clarke',13]]  
df = pd.DataFrame(data,columns=['Name','Age'])  
print( df )

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

Creating a dataframe from dictionary

In [7]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'], 'Age':[28,34,29,34]}  
df= pd.DataFrame(data)
print( df )

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   34

Creating a DataFrame by passing a list of dictionaries and the row indices

In [8]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]  
df = pd.DataFrame(data, index=['first', 'second'])  
print( df )

        a   b     c
first   1   2   NaN
second  5  10  20.0

Selecting a column by passing the column name

In [10]:
col_a = df['c']
print( col_a )

first      NaN
second    20.0
Name: c, dtype: float64

In [11]:
list = df[['a', 'b']] 
print(list)

        a   b
first   1   2
second  5  10

Adding a row to the dataframe using Series

In [ ]:
df2= pd.Series([10,20,30],index=['a', 'b', 'c'],name='three')
df = pd.concat([df, df2.to_frame().T])
print(df)

           a     b     c
first    1.0   2.0   NaN
second   5.0  10.0  20.0
three   10.0  20.0  30.0

Selecting rows by loc

In [49]:
first = df.loc['first']
rows = df.loc[['first', 'three']]
multipleRows = df.loc['first':'three']
print(first)
print(rows)
print(multipleRows)

a    1.0
b    2.0
c    NaN
Name: first, dtype: float64
          a     b     c
first   1.0   2.0   NaN
three  10.0  20.0  30.0
           a     b     c
first    1.0   2.0   NaN
second   5.0  10.0  20.0
three   10.0  20.0  30.0

Selecting a row and column from the dataFrame from location

In [57]:
df[['a','c']]

           a     c
first    1.0   NaN
second   5.0  20.0
three   10.0  30.0

In [54]:
df.loc[['first', 'three'], ['a']]

          a
first   1.0
three  10.0

Selecting rows and columns using iloc

In [59]:
print(df.iloc[1])#select single row  
print(df.iloc[[2, 0]])# select specific rows
print(df.iloc[1:3])# select range of rows
print(df.iloc[:, 0])# select single column
print(df.iloc[:, [0, 2]])# select multiple columns
print(df.iloc[1, 1])# select single value

a     5.0
b    10.0
c    20.0
Name: second, dtype: float64
          a     b     c
three  10.0  20.0  30.0
first   1.0   2.0   NaN
           a     b     c
second   5.0  10.0  20.0
three   10.0  20.0  30.0
first      1.0
second     5.0
three     10.0
Name: a, dtype: float64
           a     c
first    1.0   NaN
second   5.0  20.0
three   10.0  30.0
10.0

### To read data from csv file into pandas dataframes

In [4]:
data = pd.read_csv('test.csv')  
df=pd.DataFrame(data) 
df.head(5)

  name  no  float random
0    a   1    2.1     ad
1    b   2    3.2     fd
2    c   3    4.3    gfr
3    d   4    5.4    frg
4    e   5    6.5    fre

Q1. Create the following data frame using dictionary and implement the operations on it:

In [5]:
data = {"Name":['William','William','Emma','Emma','Anika','Anika'],
        'Region':["North",'North','South','South','East','west'],
        "Sales":[100,200,300,400,500,600],
        'Expences':[50,100,150,200,250,300]}
df = pd.DataFrame(data)
print(df)

      Name Region  Sales  Expences
0  William  North    100        50
1  William  North    200       100
2     Emma  South    300       150
3     Emma  South    400       200
4    Anika   East    500       250
5    Anika   west    600       300

In [6]:
# a. Display data of columns ‘region’ and ‘sales’. 
print(df[['Region','Sales']])

  Region  Sales
0  North    100
1  North    200
2  South    300
3  South    400
4   East    500
5   west    600

In [7]:
# b. Display data of row 2 and column 3 using loc and iloc function both. 
print(df.iloc[2,3])
print(df.loc[2,'Expences'])

150
150

In [8]:
#d. Add one more row having values ‘ABC’,’South’,80000, 40000 in all fields and  display the dataframe
df.loc[6] = ['ABC','South',80000,40000]
print(df)

      Name Region  Sales  Expences
0  William  North    100        50
1  William  North    200       100
2     Emma  South    300       150
3     Emma  South    400       200
4    Anika   East    500       250
5    Anika   west    600       300
6      ABC  South  80000     40000

In [9]:
# d. Add one column ‘gender’ in the above dataframe and display the updated dataframe.  
df['gender'] = ['M','M','F','F','F','F','M']
print(df)

      Name Region  Sales  Expences gender
0  William  North    100        50      M
1  William  North    200       100      M
2     Emma  South    300       150      F
3     Emma  South    400       200      F
4    Anika   East    500       250      F
5    Anika   west    600       300      F
6      ABC  South  80000     40000      M

In [72]:
# e. Rename column 1 by ename and display the updated dataframe. 
df.rename(columns = {'Name':'ename'})
print(df)

     ename Region  Sales  Expences gender
0  William  North    100        50      M
1  William  North    200       100      M
2     Emma  South    300       150      F
3     Emma  South    400       200      F
4    Anika   East    500       250      F
5    Anika   west    600       300      F
6      ABC  South  80000     40000      M

In [74]:
# g. Use group by to create new dataframe based on gender and compute group wise sum,  average and standard deviation of columns ‘sales’ and ‘expense’.
grouped_df = df.groupby('gender').agg({
    'Sales': ['sum', 'mean', 'std'],
    'Expences': ['sum', 'mean', 'std']
})
print(grouped_df)

        Sales                             Expences
          sum          mean           std      sum          mean           std
gender
F        1800    450.000000    129.099445      900    225.000000     64.549722
M       80300  26766.666667  46101.446109    40150  13383.333333  23050.723054

In [ ]:
# h. Drop the column ‘region’ and display the updated dataframe.
df = df.drop(columns=['Region'])
print(df)

     ename  Sales  Expences gender
0  William    100        50      M
1  William    200       100      M
2     Emma    300       150      F
3     Emma    400       200      F
4    Anika    500       250      F
5    Anika    600       300      F
6      ABC  80000     40000      M

In [ ]:
# i. Delete the last inserted row and display the updated dataframe. 
df = df.drop(df.index[-1])
print(df)

     ename  Sales  Expences gender
0  William    100        50      M
1  William    200       100      M
2     Emma    300       150      F
3     Emma    400       200      F
4    Anika    500       250      F
5    Anika    600       300      F

In [86]:
# Store the dataframe into 'emp.csv'
df.to_csv('emp.csv', index=False)
new_df = pd.read_csv('emp.csv')
print(new_df)

     ename  Sales  Expences gender
0  William    100        50      M
1  William    200       100      M
2     Emma    300       150      F
3     Emma    400       200      F
4    Anika    500       250      F
5    Anika    600       300      F